*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #333;
}      
        

    header{
        background: linear-gradient(135deg, #667eea 0%, #c59cdd 100%);
        color: white;
        padding: 2rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}  nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
}
nav ul{
    list-style: none;
    gap: 2rem;
    display: flex;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: opacity 0.3s;
}
nav a{
    opacity: 0.3s;
}
nav a:hover{
    opacity: 0.7;
}


