*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #c398ed;
}      
        

    header{
        background: linear-gradient(135deg, #667eea 0%, #c59cdd 100%);
        color: white;
        padding: 2rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}  
nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
    list-style: none;
    gap: 2rem;
    display: flex;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: opacity 0.3s;
}
nav a{
    opacity: 0.3s;
}
nav a:hover{
    opacity: 0.7;
}
.hero{
    background-image:url(/imagenes/imagen1.avif);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.Logo{
    font-weight: 1rem;
    font-size:2rem;
}
.hero-cotainer h2{
    font-size:3rem;
    margin-bottom: 1rem;
}
.hero-cotainer p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.cta-button{
    background-color: blueviolet;
    color: #ffffff;
    padding: 1rem 1rem;
    font-size: 1.2rem; 
    border: none;
    border-radius: 5px ;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.cta-button:hover{
    background-color: rgb(226, 3, 255);
}

