*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
            color: #333;
          
}      
        

    header{
        background: linear-gradient(135deg, #667eea 0%, #c59cdd 100%);
        color: white;
        padding: 2rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         z-index: 1000;
        position: sticky;
        top: 0;
    
}  
nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

nav ul{
    list-style: none;
    gap: 2rem;
    display: flex;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: opacity 0.3s;
}
nav a{
    opacity: 0.3s;
}
nav a:hover{
    opacity: 0.7;
}
.hero{
    background-image:url(/imagenes/imagen1.avif);
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.Logo{
    font-weight: 1rem;
    font-size:2rem;
}

.hero-cotainer h1{
    font-size:4rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.hero-cotainer p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.cta-button{
    background-color: blueviolet;
    color: #ffffff;
    display: inline-block;
    border-radius: 50px;
    padding: 1rem 1rem;
    font-size: 1rem; 
    font-weight: 800;
    border:none;
    cursor: pointer;
    align-content: center;
    transition: background-color 0.3s ease-in-out;
}
.cta-button:hover{
    background-color: rgb(226, 3, 255);
}



.Deportes-section{
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 3rem;
    gap: 4em;
}
.Deportes-container{
    text-align: center;
    margin-bottom: 3rem;
}

.section-title{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
    color: #000000;
}
.section-title h2{
    font-size: 8rem;
    color: #000000;

}
.tarjetas-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.tarjetas-card{
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: transform 0.3s ease-in-out;

}
.tarjetas-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px rgba(255, 30, 218, 0.2);
}


.futbol-card .titulo-deporte{
    background: linear-gradient(#fff022, #ff9800);
    padding: 2rem;
    
} 
.baloncesto-card .titulo-deporte{
   background: linear-gradient(#27DDF5, #3127F5);
    padding: 2rem;
}
.tennis-card .titulo-deporte{
    background: linear-gradient(#F52791,#BE27F5 );
    padding: 2rem;
}
.natacion-card .titulo-deporte{
    background:linear-gradient(#660cdb, #e9e9e9);
    padding: 2rem;
}
.atletismo-card .titulo-deporte{
    background: linear-gradient(#ff5722, #ff9800);
    padding: 2rem;
}
.ciclismo-card .titulo-deporte{
    background: linear-gradient(#4caf50, #8bc34a);
    padding: 2rem;
}
.card-content{
    padding: 1.5rem;
}
.card-content h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
}
.card-content h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: left;
}
.card-content h5{
    font-size: 1rem;
    color: #555;
    text-align: left;
}